h1 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
  border-radius: 10px;
}
footer {
  text-align: center;
}
.btn btn-primary {
  display: block;
  margin: 0 auto;
  width: 200px;
}
