h1 {
  text-align: center;
}

img {
  display: block;
  margin: 0 auto;
  width: 500px;
  border-radius: 10px;
}
footer {
  text-align: center;
}
.contact-btn {
  width: 200px;
  display: block;
  margin: 0 auto;
  color: red;
}
